<header>
    <head>
<link rel="stylesheet" href="./css/style.css" />
    </head>
    <nav>
        <div class="container">
            <div class="navbar-links">
                <a href="./">Home</a>
                <a href="./tasks">List</a>
</div>
        </div>
    </nav>
</header>