<!DOCTYPE html>
<html>

<head>
    <title>My Index Page</title>
    <link rel="stylesheet"  href="./css/style.css" />
</head>
<body>
    <div id="container-home">
    <h1>Welcome to Task</h1>
    <p>Store your Gitlab Tasks or Issues here and share them with friends for better collarboration. <br>The above menu indicates your options.<br> 
    <strong>List</strong> allows you to view all the available tasks.<br>
    </div>
</body>

</html>